input, textarea, select {
  box-sizing: border-box;
  padding: .75em;
  -webkit-appearance: none;
  display: inline-block;
  width: 100%;
  border: $input_border;
  background: $input_background;
  color: $input_font_color;
  &::-webkit-input-placeholder {
    color: $placeholder;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $placeholder;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: $placeholder;
  }
  &:-ms-input-placeholder {
    color: $placeholder;
  }
}



input[type="checkbox"],
input[type="radio"] {
  width: 1em;
  height: 1em;
  background: transparent;
  &:checked {
    background: $input_background;
  }
}
