.half {
  background: lighten(black, 50%);
}

.third, .two-third {
  background: lighten(black, 60%);
}

.fourth {
  background: lighten(black, 70%);
}

.fifth {
  background: lighten(black, 50%);
}

.sixth {
  background: lighten(black, 40%);
}

form {
  .fourth {
    background: transparent;
  }
}

img {
  max-width: 100%;
}
