html {
  font-family: $font_stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  color: $font_color;
}

@if $header_font_stack != null {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header_font_stack;
  }
}

h1 {
  font-weight: $h1_weight;
}

h2 {
  font-weight: $h2_weight;
}

h3 {
  font-weight: $h3_weight;
}

h4 {
  font-weight: $h4_weight;
}

h5 {
  font-weight: $h5_weight;
}

h6 {
  font-weight: $h6_weight;
}

p {
  font-weight: $p_weight;
}

li {
  font-weight: $li_weight;
}

th {
  font-weight: $th_weight;
}

td {
  font-weight: $td_weight;
}

a {
  color: $link_color;
  &:hover {
    color: $link_hover_color;
  }
  @if $link_underline {
    text-decoration: underline;
  } @else {
    text-decoration: none;
  }
}

ul, ol {
  margin: 0 0 1em 0;
  padding-left: 1.5em;
}

@if $table_font_color != null {
  th,
  td {
    color: $table_font_color;
  }
}

// Forked from https://github.com/vicompany/vertical-rhythm/blob/master/scss/vertical-rhythm.scss
// Typography
//

h1 {
	@include vertical-rhythm($font-size-xl);
}

h2 {
	@include vertical-rhythm($font-size-l);
}

h3 {
	@include vertical-rhythm($font-size-m);
}

h4,
h5,
h6,
p,
code,
dl,
ol,
ul,
th,
td {
	@include vertical-rhythm($font-size-s);
}

code {
	font-family: $typeface-mono;
}

small {
	@include vertical-rhythm($font-size-xs);
	display: block;
}

blockquote {
	@include vertical-rhythm($font-size-m);
}
