$container_width: 60em;
$container_padding: 1.5em;

$breakpoint_em: 40em;
$breakpoint: unquote('max-width: ' + $breakpoint_em);

$transition_duration: .5s;

$font_color: transparentize(black, .3);
$font_stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header_font_stack: null;
$doc-font-size: 16;
$doc-line-height: 24;
$typography-scale: 'augmented fourth';

$link_color: lighten($font_color, 20%);
$link_hover_color: lighten($font_color, 10%);
$link_underline: false;

$h1_weight: 400;
$h2_weight: 400;
$h3_weight: 600;
$h4_weight: 600;
$h5_weight: 400;
$h6_weight: 400;
$p_weight: 400;
$li_weight: 400;
$th_weight: 600;
$td_weight: 400;

$table_font_color: white;
$table_header_background: darken(grey, 10%);
$table_body_background: grey;

$placeholder: lighten($font_color, 20%);
$input_font_color: white;

$input_border_color: grey;
$input_border: 1px solid $input_border_color;
$input_background: lighten(grey, 10%);

$toggle_size: 46px;
$hamburger_height: 4px;
$toggle_bg_color: lighten(grey, 20%);
$hamburger_color: white;
$transition_duration: .5s;
$hamburger_border_radius: null;
