// Forked from https://github.com/vicompany/vertical-rhythm/blob/master/scss/mixins/_vertical-rhythm.scss
// Vertical rhythm mixin
//

@mixin vertical-rhythm($font-size: $base-font-size) {
	font-size: $font-size;

	@if $font-size != $base-font-size {
		//
		// Calculate a fixed line-height
		//

		// First: calculate the font height.
		// F.e. 2,9451645rem * 1,4444444444rem = 4,254126499869104rem
		$font-height: $font-size * $base-line-height;

		// Second: calculate the amount of rhythms that fit inside the font-height.
		// F.e. 4,254126499869104rem / 1,625rem = 2,617923999919448rem
		$rhythm-count: $font-height / $rhythm;

		// Third: round the rhythm-count to a half or full cycle.
		// F.e. 2,617923999919448rem - 2 - 0.5 = 0,1179239999194485rem
		$rhythm-count-dif: $rhythm-count - floor($rhythm-count) - 0.5;
		// F.e. 2,617923999919448rem - 0,1179239999194485rem = 2,5rem
		$rhythm-count-half: $rhythm-count - $rhythm-count-dif;

		// Fourth: calculate the offset value the text needs to align it vertically.
		// F.e. 4,254126499869104rem * 0,25 = 1,063531624967276rem
		$rhythm-offset: $font-height * 0.25;

		// Fifth: calculate the adjusted line height.
		// 2,5rem * 1,625rem = 4,0625rem
		$adjusted-line-height: $rhythm-count-half * $rhythm;

		position: relative;
		top: $cap-height * 1em;

		margin-top: -$rhythm-offset;
		margin-bottom: $rhythm-offset;

		line-height: $adjusted-line-height;

		@if $font-size > $base-font-size {
			padding-top: $rhythm * $header-leader;
			padding-bottom: $rhythm * $header-trailer;
		}

		@if $font-size < $base-font-size {
			padding-top: $rhythm * $paragraph-leader;
			padding-bottom: $rhythm * $paragraph-trailer;
		}
	} @else {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: $rhythm * $paragraph-leader;
		padding-bottom: $rhythm * $paragraph-trailer;

		line-height: $font-size * $base-line-height;
	}
}

//
// Vertical rhythm background
//

@mixin vertical-rhythm-background($color: $rhythm-color) {
	background: linear-gradient(to bottom,
		// Half baseline
		transparent 0,
		transparent (($rhythm * 0.5) - 0.0625rem),
		rgba($color, 0.25) (($rhythm * 0.5) - 0.0625rem),
		rgba($color, 0.25) ($rhythm * 0.5),

		// Full baseline
		transparent (($rhythm * 0.5) - 0.0625rem),
		transparent ($rhythm - 0.0625rem),
		rgba($color, 0.5) ($rhythm - 0.0625rem),
		rgba($color, 0.5) $rhythm
	);

	background-size: 100% $rhythm;
	background-position: 0 ($rhythm * $rhythm-offset);
	background-repeat: repeat;
}
